<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-gray-700 text-2xl">Склады</h1>
    <%= link_to new_storehouse_path, class: "rounded-full flex justify-center items-center text-3xl text-center  w-8 h-8 bg-amber-500 font-medium" do %>
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" class="fill-amber-50">
        <script xmlns=""/><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
        <style xmlns="" type="text/css" id="igtranslator-color"/>
      </svg>
    <% end %>
  </div>

  <div id="storehouses" class="grid lg:grid-cols-3 md:grid-cols-2 gap-4">
    <%= render @storehouses %>
  </div>
</div>
