<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-gray-700 text-2xl">Новый склад</h1>

  <%= render "form", storehouse: @storehouse %>

  <%= link_to 'Назад', :back, class: "mt-2 shadow rounded-lg py-3 px-5 bg-gray-50 hover:bg-white inline-block font-medium" %>
</div>
