<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-gray-700 text-2xl mr-3">Накладные</h1>
    <%#= link_to "New invoice", new_invoice_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="invoices" class="min-w-full">
    <div class="relative overflow-x-auto shadow-md sm:rounded-2xl mt-2">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-slate-300">
          <tr>
            <th scope="col" class="px-6 py-3">
              №
            </th>
            <th scope="col" class="px-6 py-3 border-x border-gray-200">
              Создал
            </th>
            <th scope="col" class="px-6 py-3 border-x border-gray-200">
              Контрагент
            </th>
            <th scope="col" class="px-6 py-3 border-x border-gray-200">
              На склад
            </th>
            <th scope="col" class="px-6 py-3 border-x border-gray-200">
              Проведено
            </th>
            <th scope="col" class="px-6 py-3">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render @invoices %>
        </tbody>
      </table>
    </div>
  </div>
</div>
