<button data-action="click->dropdown#toggle" onblur="hide(this);" data-dropdown-target="button" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 bg-gray-100 rounded-lg hover:bg-gray-50 focus:ring-4 focus:outline-none focus:ring-gray-50" type="button"> 
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path></svg>
</button>

<!-- Dropdown dropdown -->
<div data-dropdown-target="dropdown" class="z-10 fade-in-down origin-top-right absolute right-0 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
  <ul class="py-2 text-sm text-gray-700">
    <li>
      <%= link_to "Редактировать", send("edit_#{model.class.name.downcase}_path", model), data: { turbo_frame: 'modal' }, class:"block px-4 py-2 hover:bg-gray-100 transition" %>
    </li>
  </ul>
  <div class="py-2">
    <%= link_to "Удалить", model, data: { turbo_method: :delete, turbo_frame: "_top", turbo_confirm: "Вы уверены?" }, class:"block px-4 py-2 text-sm text-gray-700 hover:text-red-700 hover:bg-red-100 transition" %>
  </div>
</div>

<script>
  function hide(el) {
    setTimeout(() => { 
      el.nextElementSibling.classList.add("hidden")
     }, 250);
  }
</script>