<div id="<%= dom_id client %>" class="bg-slate-200 px-6 py-6 rounded-[30px]">
  <%= link_to client.title, client, class: "rounded-lg py-3 px-5 inline-block font-semibold text-center" %>
  <hr class="mb-6 border border-slate-300">
  <% if action_name != "show" %>
    <%= link_to "Редактировать", edit_client_path(client), class: "transition rounded-[15px] py-3 ml-2 px-5 bg-slate-300 hover:border-slate-400 border border-slate-300 text-slate-800 inline-block text-sm font-medium" %>
  <% end %>
</div>
