<div id="<%= dom_id vendor %>" class="">
  <tr class="border-b hover:bg-slate-200">
    <td class="border border-slate-200 px-2">
      <%= link_to vendor.title, vendor, class: "px-2 py-2 font-bold text-gray-800" %>
    </td>
    <td class="border border-slate-200 px-2 py-2">
        <%= vendor.manager %>
    </td>
    <td class="border border-slate-200 px-2 py-2 text-right">
      <%= link_to "Edit", edit_vendor_path(vendor), class: "font-medium transition-colors duration-300 ease-in-out text-amber-500 hover:text-amber-700 hover:underline" %>
    </td>
  </tr>
</div>
