<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-4xl">Поставщики</h1>
    <%= link_to new_vendor_path, class: "rounded-full transition-colors duration-300 ease-in-out flex justify-center items-center text-3xl text-center  w-8 h-8 bg-gradient-to-b from-amber-500 to-amber-600 hover:from-amber-400 hover:to-amber-500 font-medium" do %>
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" class="fill-amber-50">
        <script xmlns=""/><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
        <style xmlns="" type="text/css" id="igtranslator-color"/>
      </svg>
    <% end %>
  </div>

  <div id="vendors" class="min-w-full p-6 bg-stone-100 rounded-[30px] ">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 rounded-[30px] bg-stone-300 uppercase">
        <tr class="rounded-[30px]">
          <th scope="col" class="px-6 py-3">
            Наименование
          </th>
          <th scope="col" class="px-6 py-3">
            Менеджер
          </th>
          <th scope="col" class="px-6 py-3">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render @vendors %>
      </tbody>
    </table>
  </div>
</div>
