<div class="mx-auto lg:w-2/3 md:w-full sm:w-full border bg-slate-200 border-slate-300 p-4 rounded-xl">
  <%= render "shared/modal", model:  @vendor, title: "Добавить нового поставщика" %>
  <%#= render "form", vendor: @vendor %>
</div>
