<div class="mx-auto md:w-2/3 lg:w-1/3 sm:w-full border bg-slate-200 border-slate-300 p-4 rounded-xl">
  <div class="mx-auto">
    <%= render @vendor %>
    <div class="border-b-2 border-amber-300 my-4"></div>
    <div class="inline-block ml-2">
      <%= button_to "Удалить", vendor_path(@vendor), method: :delete, class: "transition ml-2 border border-red-300 rounded-lg py-2 px-4 bg-red-200 hover:bg-red-300 text-red-800 inline-block font-semibold text-xs" %>
    </div>
    <%= link_to "Назад", vendors_path, class: "transition ml-2 border border-slate-300 rounded-lg py-2 px-4 bg-slate-100 hover:bg-slate-300 inline-block font-semibold text-xs" %>
  </div>
</div>
