/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body { 
  font-family: 'Roboto', sans-serif;
 }
 .modal {
  background-color: #FFF;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  word-break: break-word;
  border-radius: 6px;
  z-index: 1000;
}

.modal-background {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  opacity: 1;
  transition: opacity .2s ease;
  z-index:800;
  background:rgba(0,0,0,.7);
}

@media (min-width: 640px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.1fr 1.9fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "nav nav nav nav nav nav"
      "content-main content-main content-main content-main content-main content-main"
  }
}
@media (min-width: 1140px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.1fr 1.9fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "nav nav nav nav nav nav"
      "aside content-main content-main content-main content-main content-main"
  }
}
.aside { grid-area: aside; }
.nav { grid-area: nav; }
.content { grid-area: content-main; }
