<div class="md:w-full lg:w-full w-full flex">
  <div class="mx-auto w-full">
    <%= render @product %>
    <%= link_to 'Назад', :back, class: "mt-2 shadow rounded-lg py-3 px-5 bg-gray-50 hover:bg-white inline-block font-medium" %>
  </div>
</div>
